In [ ]:
# Shishir Khanal
# 06-01-2025
# Data analysis for Hi Satisfaction Related Patterns

In [1]:
import kagglehub
import pandas as pd
import os

# Download latest version (code obtained from: https://www.kaggle.com/datasets/rabieelkharoua/predict-restaurant-customer-satisfaction-dataset?resource=download)
path = kagglehub.dataset_download("rabieelkharoua/predict-restaurant-customer-satisfaction-dataset")
print("Path to dataset files:", path)

full_path = os.path.join(path, "restaurant_customer_satisfaction.csv")
df = pd.read_csv(full_path)

Path to dataset files: /home/shishir/.cache/kagglehub/datasets/rabieelkharoua/predict-restaurant-customer-satisfaction-dataset/versions/1

In [4]:
#Percentage of customers that reported Highly satisfied
df['HighSatisfaction'].value_counts(normalize = True) * 100

HighSatisfaction
0    86.6
1    13.4
Name: proportion, dtype: float64

In [15]:
#Among those that experienced High Satisfaction, Variation across cuisines
cuisine_satisfaction = df.groupby('PreferredCuisine')['HighSatisfaction'].agg(['mean'])
print(cuisine_satisfaction['mean'] * 100)

PreferredCuisine
American    15.185185
Chinese     13.548387
Indian      14.527027
Italian     12.307692
Mexican     11.705686
Name: mean, dtype: float64

In [25]:
#Wait Time and High Satisfaction
from scipy.stats import pearsonr

r_pearson, p_pearson = pearsonr(df['HighSatisfaction'], df['WaitTime'])
print(f"\nPearson Correlation (equivalent result):")
print(f"r = {r_pearson:.3f}")
print(f"p-value = {p_pearson:.3f}")

Pearson Correlation (equivalent result):
r = -0.144
p-value = 0.000

In [34]:
#Dining Occasion and High High Satisfaction
contingency_table = pd.crosstab(df['DiningOccasion'], df['HighSatisfaction'], margins=True)
print(contingency_table)
chi2, p_value, dof, expected = chi2_contingency(contingency_table.iloc[:-1, :-1])
n = len(df)
cramers_v = np.sqrt(chi2 / (n * (min(contingency_table.shape) - 2)))
print('--------------------------------------------------------')

print(f"Chi-square statistic: {chi2:.3f}")
print(f"p-value: {p_value:.3f}")
print(f"Cramér's V: {cramers_v:.3f}")

HighSatisfaction     0    1   All
DiningOccasion
Business           453   47   500
Casual             428   53   481
Celebration        418  101   519
All               1299  201  1500
--------------------------------------------------------
Chi-square statistic: 25.671
p-value: 0.000
Cramér's V: 0.131

In [30]:
contingency_table.iloc[-1, -1]

1500

In [31]:
contingency_table.iloc[:-1, :-1]

HighSatisfaction    0    1
DiningOccasion
Business          453   47
Casual            428   53
Celebration       418  101